In [1]:
>>>灰色局部性關聯度:k(倍數法)  
若數據都是正值而望大 ,直接用bei_LG,不須事先grey measure轉換
若數據有0與正值)而望大 ,則加上0.0000001後,直接用bei_LG,不須事先grey measure轉換

SyntaxError: invalid syntax (<ipython-input-1-61605eb1a288>, line 1)

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
import scipy as sy
import pylab as plb  
import pandas as pd
import numpy as np

In [4]:
dt = pd.read_csv('./data/selectShop.csv', index_col=0,encoding='cp950') 
#dt=dt+0.0000001
dt  #欄位K11望小,,欄位K12望目,其他都是望大

FileNotFoundError: [Errno 2] No such file or directory: './data/selectShop.csv'

In [4]:
dt['K11']=1/dt.K11  #望小::原數值改為倒數
dt

       K1  K2  K3  K4  K5  K6  K7  K8  K9  K10       K11  K12
shop
shop1   6   4   5   3   9   6   5   7   5    6  0.166667    2
shop2   8   3   8   4   8   5   5   3   6    5  1.000000    3
shop3   8   8   6   7   7   9   9   8   7    6  1.000000    3
shop4   4   6   7   5   1   5   4   3   4    7  0.125000    3
shop5   7   4   8   6   4   8   5   6   8    8  0.142857    2

In [6]:
#望目 =1-[ABS(x-OB)/MAX]
OB=2
dt['K12']=1-(abs(dt.K12-OB)/max(dt.K12))
dt

       K1  K2  K3  K4  K5  K6  K7  K8  K9  K10       K11       K12
shop
shop1   6   4   5   3   9   6   5   7   5    6  0.166667  1.000000
shop2   8   3   8   4   8   5   5   3   6    5  1.000000  0.666667
shop3   8   8   6   7   7   9   9   8   7    6  1.000000  0.666667
shop4   4   6   7   5   1   5   4   3   4    7  0.125000  0.666667
shop5   7   4   8   6   4   8   5   6   8    8  0.142857  1.000000

In [7]:
cmax=dt.max(axis=0)  #直行
cmin=dt.min(axis=0)  #直行

x0=dt

#轉為倍數B=cmax/ x0
B= cmax/ x0

#關聯度公式G= (Bmin+Bmax)/(B+ Bmax)

#Bmax=B.max(axis=0)  #直行
Bmax=B.values.max() 
#Bmin=B.min(axis=0)  #直行
Bmin= B.values.min()  #區塊

G= (Bmin+Bmax)/(B+ Bmax)

#關聯度(橫列平均)
Gavg=np.mean(G,axis=1)

ngama=-np.array(Gavg)
rank= ngama.argsort()
rank=rank.argsort()

names = dt.columns.values 
x0 = pd.DataFrame(data=x0,columns=names) 
x0= round(x0,3)
x0['avg'] = Gavg
x0['avg'] = round(x0['avg'],3)
x0['rank'] = rank+1
x0

       K1  K2  K3  K4  K5  K6  K7  K8  K9  K10    K11    K12    avg  rank
shop
shop1   6   4   5   3   9   6   5   7   5    6  0.167  1.000  0.929     4
shop2   8   3   8   4   8   5   5   3   6    5  1.000  0.667  0.946     2
shop3   8   8   6   7   7   9   9   8   7    6  1.000  0.667  0.987     1
shop4   4   6   7   5   1   5   4   3   4    7  0.125  0.667  0.874     5
shop5   7   4   8   6   4   8   5   6   8    8  0.143  1.000  0.939     3